.main_field {
  font-size: calc(10px + 1vmin);
  background-color: #636664;
  margin-top: 2vmin;
  padding: 0.5vmin 1vmin;
  border-radius: 5px;
  .triangle {
    margin-left: 1vmin;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #fff;
    display: inline-block;
  }
  .dropdown {
    display: none;
    background-color: #636664;
    z-index: 1;
    position: absolute;
    margin: 0%;
    list-style: none;
    padding: 1vmin;
    width: inherit;
    .dropdown_field {
      &:hover {
        transition: 250ms;
        background-color: #3d3d3d;
      }
    }
  }

  &:hover {
    .triangle {
      transform: rotate(180deg);
    }
    .dropdown {
      display: block;
    }
  }
}
